<h1 class="center">Caixas Proxima do Cliente</h1>
 
<mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Codigo">
        <mat-header-cell *matHeaderCellDef> Codigo </mat-header-cell>
        <mat-cell *matCellDef="let d" data-label="Codigo"> {{d.cd_venda}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Cliente">
        <mat-header-cell *matHeaderCellDef> Cliente </mat-header-cell>
        <mat-cell *matCellDef="let d" data-label="Cliente"> {{d.nm_cliente}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="RG">
        <mat-header-cell *matHeaderCellDef> RG </mat-header-cell>
        <mat-cell *matCellDef="let d" data-label="RG"> {{d.rg}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Latitude">
        <mat-header-cell *matHeaderCellDef> Latitude </mat-header-cell>
        <mat-cell *matCellDef="let d" data-label="Latitude"> {{d.latitude}} Mts </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Longitude">
        <mat-header-cell *matHeaderCellDef> Longitude </mat-header-cell>
        <mat-cell *matCellDef="let d" data-label="Longitude"> {{d.longitude}} Mts </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Caixa">
        <mat-header-cell *matHeaderCellDef> Caixa </mat-header-cell>
        <mat-cell *matCellDef="let d" data-label="Caixa"> {{d.cd_caixa}} Mts </mat-cell>
      </ng-container> 

      <ng-container matColumnDef="Valor">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let d" data-label="Valor"> {{d.valor}} Mts </mat-cell>
      </ng-container>

      <ng-container matColumnDef="Ação">
        <mat-header-cell *matHeaderCellDef class="center"> Ação </mat-header-cell>
        <mat-cell *matCellDef="let d" class="center" data-label="Ação"> 
            <a class="center" routerLink="/vendas/update/{{d.cd_venda}}"><img width="30" class="img_table" alt="Criar Vendas" src="../assets/img/update.png" /></a> 
                
            <a class="center" routerLink="/vendas/delete/{{d.cd_venda}}" ><img width="35" class="img_table" alt="Criar Vendas" src="../assets/img/delete-icon.png" /></a> 
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

</mat-table>


<!--
<table class="table">
	<tr> 
		<th>Codigo </th>
		<th>Cliente</th>
		<th>RG</th>
		<th>latitude</th>
		<th>Longitude</th>
		<th>Caixa</th>
		<th>valor</th>
		<th>Ação</th>
    </tr> 
	<tr *ngFor="let ArrayVenda of venda"> 
        <td class="bold">{{ArrayVenda.cd_venda}}</td>
        <td>{{ArrayVenda.nm_cliente}}</td>
        <td>{{ArrayVenda.rg}}</td>
        <td>{{ArrayVenda.latitude}}</td>
        <td class="">{{ArrayVenda.longitude}} </td> 
        <td class="">{{ArrayVenda.cd_caixa}} </td> 
        <td class="">{{ArrayVenda.valor}} </td> 
        <td class="acao">
            <a routerLink="/vendas/update/{{ArrayVenda.cd_venda}}">EDITAR</a> 
            | 
            <a  routerLink="/vendas/delete/{{ArrayVenda.cd_venda}}" >DELETAR</a> 
        </td>
	</tr> 

</table>
-->
