<!--  
<h1 class="center">Deletar Venda</h1>
<div class="DivCad" *ngIf="request" >
    <label>Caixa:
        <input class="form-control" placeholder="Caixa" [(ngModel)]="request.cd_caixa"  >
    </label>
    <br> 
    <label>Latitude:
        <input class="form-control" placeholder="Latitude" [(ngModel)]="request.latitude" >
    </label>
    <br> 
    <label>Longitude:
        <input class="form-control" placeholder="Longitude" [(ngModel)]="request.longitude"  >
    </label>
    <br> 
    <label>Nome Cliente:
        <input class="form-control" placeholder="Cliente" [(ngModel)]="request.nm_cliente"  >
    </label>
    <br> 
    <label>RG:
        <input class="form-control" placeholder="rg" [(ngModel)]="request.rg"  >
    </label>
    <br> 
    <label>Valor:
        <input class="form-control" placeholder="valor" [(ngModel)]="request.valor"  >
    </label>
    <br>   
    <button (click)="delete()" >Salvar Venda</button>
    <br>     
    <br> 
</div>
-->

<mat-card>
    <div class="DivCad">

        <mat-card-title>Deletar Venda</mat-card-title>
        <form>
            <mat-form-field>
                <input matInput placeholder="Caixa" [(ngModel)]="request.cd_caixa" name="cd_caixa">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Latitude" [(ngModel)]="request.latitude" name="latitude">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Longitude" [(ngModel)]="request.longitude" name="longitude">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Cliente" [(ngModel)]="request.nm_cliente" name="nm_cliente">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="RG" [(ngModel)]="request.rg" name="rg">
            </mat-form-field>
            <br>
            <mat-form-field>
                <input matInput placeholder="Valor R$   " [(ngModel)]="request.valor" name="valor">
            </mat-form-field>
            <br /><br />
            <button mat-raised-button (click)="delete()" color="primary">
                Salvar
            </button>
            <br />
        </form>

    </div>

</mat-card>